{% extends "layout.html" %}

{% block content %}
    {% include "error.html" with context %}
    <div class="transliteration">
        <table border="0" cellpadding="5">
            {% for i in range(letters | length) %}
                {% if (i % 6) == 0 %}
                    <tr>
                        {% for j in range(6) %}
                            <td align="center">{{ letters[i + j] }}</td>
                            <td align="center">{{ transliteration[i + j] }}</td>
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
{% endblock %}